div {
  text-align: center;
}

.row {
  display: flex;
  justify-content: center;
  gap: 30px;
}

.btn {
  border: none;
  height: 40px;
  width: 100px;
  color: white;
  text-transform: uppercase;
  font-size: 17px;
  font-weight: 700;
  font-family: monospace;
}

.btn-normal {
  background-color: dodgerblue;
}

.btn-success {
  background-color: green;
}

.btn-danger {
  background-color: red;
}
